/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Fonts */
@font-face {
  font-family: 'SalmaPro-Medium';
  src: url('fonts/SalmaPro-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.12rem;
}

@font-face {
  font-family: 'SalmaPro-Regular';
  src: url('fonts/SalmaPro-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCGaramondStd-LtCond';
  src: url('fonts/ITCGaramondStd-LtCond.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay-Light';
  src: url('fonts/NeueHaasDisplayLight.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.03rem;
}

/* Colors */
.bg-n2 {
  background-color: #F2F2EB;
}

.bg-n3 {
  background-color: #E5E5DA;
}

.bg-forest {
  background-color: #15616D;
}

.bg-sage {
  background-color: #C5EEF0;
}

.bg-sky {
  background-color: #B7CFE2;
}

.n1 {
  color: #F9F9F2;
}

.n5 {
  color: #8C8C81;
}

.forest {
  color: #15616D;
}

.sage {
  color: #C5EEF0;
}

/* Icons and Images */
.about-image-small {
  width: 160px;
  height: 160px;
  border-radius: 8px;
  overflow: hidden;
}

.about-image-large {
  width: 280px;
  height: 280px;
  border-radius: 16px;
  overflow: hidden;
}

svg {
  display: block;
}

.icon-forest {
  background-color: #C5EEF0;
  color: #15616D;
  padding: 10px;
  border-radius: 6px;
}

.icon-forest:hover {
  background-color: #8C8C81;
  color: #E5E5DA;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.icon-n5 {
  background-color: #E5E5DA;
  color: #8C8C81;
  padding: 10px;
  border-radius: 6px;
}

.icon-n5:hover {
  background-color: #8C8C81;
  color: #E5E5DA;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
}
  
/* Basic Typography & Layout */
body {
  font-family: 'NeueHaasDisplay-Light';
  letter-spacing: 0.03rem;
  line-height: 1.6;
  background-color: #F9F9F2;
  color: #56564F;
  padding: 0 0rem;
}

/* Header Styling */
header {
  background-color: #ffffff;
  padding: 0rem 0;
  text-align: center;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  background-color: #F9F9F2;
  padding: 2rem 6rem 2rem;
}

.navbar .logo a {
  font-family: 'ITCGaramondStd-LtCond';
  color: #8C8C81;
  font-size: 2.5rem;
  text-decoration: none;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar .nav-links li a {
  font-family: 'SalmaPro-Medium', sans-serif;
  color: #8C8C81;
  letter-spacing: 0.12rem;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.75rem;
}

.navbar .nav-links li a.active {
  color: #15616D !important;
}

.navbar .nav-links li a:hover {
  color: #56564F;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  background-color: #F2F2EB;
  border-radius: 5px;
}

/* Hide menu on small screens */
.navbar .nav-links {
  display: flex;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  color: #8C8C81;
  cursor: pointer;
}

/* Two-Column Layout */
.two-column {
  align-items: center;
  display: flex;
  gap: 2rem; /* space between columns */
}

.left {
  flex: 1;
}

.right {
  flex: 1; /* equal width */
}

/* Side By Side Layout */
.sbs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.sbs-social-media {
  align-items: center;
  gap: 0.5rem;
  display: flex;
}

.sbs-work {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
}

.sbs-work-cards {
  display: flex;
  flex: 3 1 0;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.project-card-small {
  aspect-ratio: 1 / 1;
  flex: 1 1 30%;
  border-radius: 16px;
  overflow: hidden;
  min-width: 0; /* Prevent flexbox from overflowing */
  transition: transform 0.3s ease;
}

.project-card-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.list {
  border-bottom: 1px solid #CCCBBA;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.last {
  border-bottom: 0px;
}

.line-between {
  display: flex;
  vertical-align: middle;
  align-items: center;
  gap: .35rem;
  max-width: fit-content;
}

.divider-short {
  min-width: 32px;
  max-width: 32px;
  height: 1.25px;
  background-color: #15616D;
  margin-bottom: 1px;
}

.divider {
  height: 1.25px;
  background-color: #E5E5DA;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.side-text {
  margin: 0; /* remove default <p> spacing */
  white-space: nowrap; /* optional: prevent wrapping */
}

#about-page {
  display: flex;
  gap: 2rem;
  min-height: 100vh; /* optional: for testing scroll */
}

.two-column-sticky-scroll {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.sticky-column {
  position: sticky;
  top: 2rem;
  align-self: flex-start;
  height: fit-content;
}

.scrolling-column {
  flex: 1;
  margin-top: 1rem;
  max-width: 730px;
}

.align-top {
  align-items: flex-start;
}

.align-bottom {
  align-items: flex-end;
}

/* Text Formatting */
.salma-pro {
  font-family: "SalmaPro-Medium";
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.12rem;
}

.underline {
  text-decoration: underline #8C8C81;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

.align-right {
  text-align: right;
  align-items: end;
}

.mt-025 {
  margin-top: 0.25rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mt-120 {
  margin-top: 12rem;
}

.mb-075 {
  margin-bottom: 0.75rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

#title-description {
  max-width: 450px;
}

#playground-title {
  margin-bottom: 2rem;
}

#playground-description {
  max-width: 200px;
  margin-bottom: 0.5rem;
}

#playground-projects {
  min-width: 400px;
  max-width: 500px;
}

#about-description {
  max-width: 270px;
  margin-bottom: 2.5rem;
}

#work-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 310px;
  flex: 1 1 300px;
  min-width: 150px;
  max-width: 150px;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .navbar .nav-links {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70px; /* Below the navbar */
    left: 0;
    background-color: #F9F9F2;
    transition: all 0.3s ease;
  }

  .navbar .nav-links li {
    width: 100%;
  }

  .menu-icon {
    display: block; /* Show hamburger menu */
  }

  .navbar.active .nav-links {
    display: block;
  }

  .navbar.active .menu-icon {
    color: #ff6f61;
  }

  .two-column {
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .sbs {
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .sbs-work {
    flex-direction: column;
    gap: 2rem;
    align-items: stretch;
  }

  .sbs-work-cards {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #playground-title {
    margin-bottom: 0.5rem;
  }

  #playground-description {
    max-width: 500px;
    margin-bottom: 4rem;
  }

  #work-description {
    align-items: start;
    width: 100%;
    max-width: 100%;
    gap: 0.5rem;
    height: auto;
    flex: auto;
  }

  .project-card-small {
    flex: 1 1 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .sbs-social-media {
    margin-top: 1rem;
  }

  .list {
    flex-direction: row;
  }
  
  .align-right {
    text-align: left; /* Right aligned text becomes left aligned when stacked */
  }

  .h2-margin-bottom {
    margin-bottom: 0rem;
  }
}

/* Main Sections */
main {
  margin: 0rem 0rem;
}

section {
  padding: 5rem 6rem;
}

#title {
  padding-top: 3rem;
}

#footer {
  padding: 1.25rem 6rem;
}

h1 {
  font-family: 'ITCGaramondStd-LtCond';
  font-size: 6.5rem;
  font-weight: normal;
  line-height: 9.75rem;
}

h2 {
  font-family: 'ITCGaramondStd-LtCond';
  font-size: 5rem;
  font-weight: normal;
}

h4 {
  font-family: 'ITCGaramondStd-LtCond';
  font-size: 3rem;
  font-weight: normal;
  line-height: 4rem;
}

h5 {
  font-family: 'SalmaPro-Regular';
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.25rem;
  color: #8C8C81;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}

p {
  font-family: 'NeueHaasDisplay-Light';
  font-size: 1rem;
  letter-spacing: 0.03rem;
}

a {
  text-decoration: none;  /* removes underline */
  color: inherit;         /* makes link match surrounding text color */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Footer */
footer {
  padding: 0rem 0rem;
}