/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: 'SalmaPro-Medium';
  src: url('fonts/SalmaPro-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.12rem;
}

@font-face {
  font-family: 'SalmaPro-Regular';
  src: url('fonts/SalmaPro-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCGaramondStd-LtCond';
  src: url('fonts/ITCGaramondStd-LtCond.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay-Light';
  src: url('fonts/NeueHaasDisplayLight.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.03rem;
}

/* Colors */
.bg-n2 {
  background-color: #F2F2EB;
}

.bg-forest {
  background-color: #15616D;
}

.bg-sage {
  background-color: #C5EEF0;
}

.bg-sky {
  background-color: #B7CFE2;
}

.n1 {
  color: #F9F9F2;
}

.forest {
  color: #15616D;
}

.sage {
  color: #C5EEF0;
}
  
/* Basic Typography & Layout */
body {
  font-family: 'NeueHaasDisplay-Light';
  letter-spacing: 0.03rem;
  line-height: 1.6;
  background-color: #F9F9F2;
  color: #56564F;
  padding: 0 0rem;
}

/* Header Styling */
header {
  background-color: #ffffff;
  padding: 0rem 0;
  text-align: center;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  background-color: #F9F9F2;
  padding: 2rem 6rem 2rem;
}

.navbar .logo a {
  font-family: 'ITCGaramondStd-LtCond';
  color: #8C8C81;
  font-size: 2.5rem;
  text-decoration: none;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar .nav-links li a {
  font-family: 'SalmaPro-Medium', sans-serif;
  color: #8C8C81;
  letter-spacing: 0.12rem;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.75rem;
}

.navbar .nav-links li a.active {
  color: #15616D;
}

.navbar .nav-links li a:hover {
  color: #56564F;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  background-color: #F2F2EB;
  border-radius: 5px;
}

/* Hide menu on small screens */
.navbar .nav-links {
  display: flex;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  color: #8C8C81;
  cursor: pointer;
}

/* Two-Column Layout */
.two-column {
  align-items: center;
  display: flex;
  gap: 2rem; /* space between columns */
}

.left {
  flex: 1;
}

.right {
  flex: 1; /* equal width */
}

/* Side By Side Layout */
.sbs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.list {
  border-bottom: 1px solid #CCCBBA;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.last {
  border-bottom: 0px;
}

.line-between {
  display: flex;
  vertical-align: middle;
  align-items: center;
  gap: .35rem;
  max-width: fit-content;
}

.divider {
  min-width: 32px;
  max-width: 32px;
  height: 1.25px;
  background-color: #15616D;
  margin-bottom: 1px;
}

.side-text {
  margin: 0; /* remove default <p> spacing */
  white-space: nowrap; /* optional: prevent wrapping */
}

.align-bottom {
  align-items: flex-end;
}

/* Text Formatting */
.salma-pro {
  font-family: "SalmaPro-Medium";
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.12rem;
}

.align-right {
  text-align: right;
  align-items: end;
}

.h2-margin-bottom {
  margin-bottom: 2rem;
}

.p-margin-bottom {
  margin-bottom: 1rem;
}

#title-description {
  max-width: 450px;
}

#playground-description {
  max-width: 200px;
  margin-bottom: 0.5rem;
}

#playground-projects {
  min-width: 400px;
  max-width: 500px;
}

#about-description {
  max-width: 270px;
  margin-bottom: 2.5rem;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .navbar .nav-links {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70px; /* Below the navbar */
    left: 0;
    background-color: #F9F9F2;
  }

  .navbar .nav-links li {
    width: 100%;
  }

  .menu-icon {
    display: block; /* Show hamburger menu */
  }

  .navbar.active .nav-links {
    display: block;
  }

  .navbar.active .menu-icon {
    color: #ff6f61;
  }

  .two-column {
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .sbs {
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .list {
    flex-direction: row;
  }
  
  .align-right {
    text-align: left; /* Right aligned text becomes left aligned when stacked */
  }

  .h2-margin-bottom {
    margin-bottom: 0rem;
  }

  #playground-description {
    max-width: 500px;
    margin-bottom: 4rem;
  }
}

/* Main Sections */
main {
  margin: 0rem 0rem;
}

section {
  padding: 5rem 6rem;
}

#title {
  padding-top: 3rem;
}

#footer {
  padding: 1.25rem 6rem;
}

h1 {
  font-family: 'ITCGaramondStd-LtCond';
  font-size: 6.5rem;
  font-weight: normal;
  line-height: 1rem;
}

h2 {
  font-family: 'ITCGaramondStd-LtCond';
  font-size: 5rem;
  font-weight: normal;
}

h5 {
  font-family: 'SalmaPro-Regular';
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.25rem;
  color: #8C8C81;
  letter-spacing: 0.12rem;
}

p {
  font-family: 'NeueHaasDisplay-Light';
  font-size: 1rem;
  letter-spacing: 0.03rem;
}

a {
  text-decoration: none;  /* removes underline */
  color: inherit;         /* makes link match surrounding text color */
}

/* Footer */
footer {
  padding: 0rem 0rem;
}