/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SalmaPro-Medium';
  src: url('fonts/SalmaPro-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SalmaPro-Regular';
  src: url('fonts/SalmaPro-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCGaramondStd-LtCond';
  src: url('fonts/ITCGaramondStd-LtCond.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplayLight';
  src: url('fonts/NeueHaasDisplayLight.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
  
/* Basic Typography & Layout */
body {
  font-family: 'NeueHaasDisplayLight', sans-serif;
  line-height: 1.6;
  background-color: #F9F9F2;
  color: #56564F;
  padding: 0 1rem;
}

/* Header Styling */
header {
  background-color: #ffffff;
  padding: 0rem 0;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
}

header h1 {
  font-size: 2.5rem
}

.navbar {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  background-color: #F9F9F2;
  padding: 1rem 2rem 0.75rem;
}

.navbar .logo a {
  font-family: 'ITCGaramondStd-LtCond';
  color: #8C8C81;
  font-size: 2.5rem;
  text-decoration: none;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar .nav-links li a {
  font-family: 'SalmaPro-Medium', sans-serif;
  color: #8C8C81;
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.75rem;
}

.navbar .nav-links li a:hover {
  color: #56564F;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  background-color: #F2F2EB;
  border-radius: 5px;
}

/* Hide menu on small screens */
.navbar .nav-links {
  display: flex;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  color: #8C8C81;
  cursor: pointer;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .navbar .nav-links {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70px; /* Below the navbar */
    left: 0;
    background-color: #F9F9F2;
  }

  .navbar .nav-links li {
    width: 100%;
  }

  .menu-icon {
    display: block; /* Show hamburger menu */
  }

  .navbar.active .nav-links {
    display: block;
  }

  .navbar.active .menu-icon {
    color: #ff6f61;
  }
}

/* Main Sections */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding-bottom: 4rem;
}

section {
  margin-bottom: 3rem;
}

h1 {
  font-family: 'ITCGaramondStd-LtCond';
  font-size: 4rem;
  font-weight: normal;
}

h2 {
  font-family: 'SalmaPro-Regular';
  font-size: 2rem;
  color: #111;
  margin-bottom: 1rem;
}

p {
  font-family: 'NeueHaasDisplayLight';
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  color: #888;
  font-size: 0.9rem;
}